[Unit]
Description=CAN Logger Service
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=%h/can_datalogger
ExecStart=%h/can_datalogger/venv/bin/python %h/can_datalogger/datalogger.py
Restart=always
User=%i

[Install]
WantedBy=multi-user.target