# /etc/systemd/system/datalogger.service
[Unit]
Description=CAN Logger Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/datalogger/datalogger.py
Restart=always
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target