[Unit]
Description=CAN Logger Service
After=network.target ys-devices-platform-soc*.target
Wants=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i/can_datalogger
ExecStart=/home/%i/can_datalogger/venv/bin/python /home/%i/can_datalogger/datalogger.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target