[Unit]
Description=CAN Logger Service
After=network.target sys-devices-platform-soc*.target
Wants=network.target

[Service]
Type=simple
User=datalogger
WorkingDirectory=/home/datalogger/can_datalogger
ExecStart=/home/datalogger/can_datalogger/venv/bin/python /home/datalogger/can_datalogger/datalogger.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target