<!-- templates/dbc.html -->
{% extends 'base.html' %}
{% block title %}DBC Files{% endblock %}
{% block content %}
    <h2>DBC Files</h2>
    <p>The datalogger will combine multiple DBC files together for CAN decoding.</p>

    <form action="{{ url_for('upload_dbc') }}" method="post" enctype="multipart/form-data">
      <input type="file" name="dbc_file" accept=".dbc">
      <button class="btn btn-primary" type="submit">Upload DBC</button>
    </form>
    <br>

    <table class="table table-striped table-hover table-sm table-bordered ">
      <thead>
        <tr>
          <th class="text-center">Filename</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for fn in files %}
          <tr>
            <td>{{ fn }}</td>
            <td>
              <div class="d-inline-flex align-items-center  gap-2">
                <form action="{{ url_for('delete_dbc', filename=fn) }}" method="post" style="display:inline;" onsubmit="return confirm('Delete {{ fn }}?');">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}