<!-- templates/logs.html -->
{% extends 'base.html' %}
{% block title %}CAN Logs{% endblock %}
{% block content %}
    <h2>Log Files - Locally Stored</h2>
    <br>

    <form action="{{ url_for('delete_all_logs') }}" method="post" onsubmit="return confirm('Are you sure you want to delete all logs?');">
      <button class="btn btn-danger" type="submit">Delete All Log Files</button>
    </form>
    <br>

    <table class="table table-striped table-hover table-sm table-bordered ">
      <thead>
        <tr>
          <th class="text-center">Filename</th>
          <th class="text-center">Timestamp</th>
          <th class="text-center">Location</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for entry in entries %}
          <tr>
            <td>{{ entry.filename }}</td>
            <td>{{ entry.metadata.timestamp }}</td>
            <td>
              {% if entry.metadata.location %}
                {{ entry.metadata.location.lat }}, {{ entry.metadata.location.lon }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td class="text-center">
              <div class="d-inline-flex align-items-center gap-2">
                <a class="btn btn-sm btn-primary"
                    href="{{ url_for('download_log', filename=entry.filename) }}">
                    Download
                </a>
                <form action="{{ url_for('rename_log', filename=entry.filename) }}" method="post" style="display:inline;" onsubmit="">
                    <button class="btn btn-sm btn-primary" type="submit">Rename</button>
                </form>
                <form action="{{ url_for('delete_log', filename=entry.filename) }}" method="post" style="display:inline;" onsubmit="return confirm('Delete {{ entry.filename }}?');">
                    <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
            </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}