[Unit]
Description=CAN Logger Service
After=network.target sys-devices-platform-soc*.target
Wants=network.target

[Service]
Type=simple
User=datalogger
WorkingDirectory={{REPO_DIR}}
ExecStart={{REPO_DIR}}/.venv/bin/python {{REPO_DIR}}/test.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target