[Unit]
Description=WiFi Mode Manager
After=network-online.target
Wants=network-online.target

[Service]
ExecStart={{REPO_DIR}}/.venv/bin/python {{REPO_DIR}}/wifi_manager.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target